.head{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #5863F8;
}
.wraper{
    width: 1088px;
    margin: 0 auto;
    margin-top: 60px;
    height: 921px;
    font-size: 42px;
}
.head-1{
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    width: 465px;
    margin-top: 10px;
}
.img-1{
    width: 352px;
    height: 212px;
    float: left;
    margin-top: 45px;
}
.img-2{
    margin-left: 20px;
    margin-top: 3px;
}
